.flag-ad {
  background: url('/img/flags-98712.png') 0px 0px;
  width: 20px;
  height: 20px;
}
.flag-ae {
  background: url('/img/flags-98712.png') 0px -22px;
  width: 20px;
  height: 20px;
}
.flag-af {
  background: url('/img/flags-98712.png') 0px -44px;
  width: 20px;
  height: 20px;
}
.flag-ag {
  background: url('/img/flags-98712.png') 0px -66px;
  width: 20px;
  height: 20px;
}
.flag-ai {
  background: url('/img/flags-98712.png') 0px -88px;
  width: 20px;
  height: 20px;
}
.flag-al {
  background: url('/img/flags-98712.png') 0px -110px;
  width: 20px;
  height: 20px;
}
.flag-am {
  background: url('/img/flags-98712.png') 0px -132px;
  width: 20px;
  height: 20px;
}
.flag-an {
  background: url('/img/flags-98712.png') 0px -154px;
  width: 20px;
  height: 20px;
}
.flag-ao {
  background: url('/img/flags-98712.png') 0px -176px;
  width: 20px;
  height: 20px;
}
.flag-aq {
  background: url('/img/flags-98712.png') 0px -198px;
  width: 20px;
  height: 20px;
}
.flag-ar {
  background: url('/img/flags-98712.png') 0px -220px;
  width: 20px;
  height: 20px;
}
.flag-ara {
  background: url('/img/flags-98712.png') 0px -242px;
  width: 20px;
  height: 20px;
}
.flag-as {
  background: url('/img/flags-98712.png') 0px -264px;
  width: 20px;
  height: 20px;
}
.flag-at {
  background: url('/img/flags-98712.png') 0px -286px;
  width: 20px;
  height: 20px;
}
.flag-au {
  background: url('/img/flags-98712.png') 0px -308px;
  width: 20px;
  height: 20px;
}
.flag-aw {
  background: url('/img/flags-98712.png') 0px -330px;
  width: 20px;
  height: 20px;
}
.flag-ax {
  background: url('/img/flags-98712.png') 0px -352px;
  width: 20px;
  height: 20px;
}
.flag-az {
  background: url('/img/flags-98712.png') 0px -374px;
  width: 20px;
  height: 20px;
}
.flag-ba {
  background: url('/img/flags-98712.png') 0px -396px;
  width: 20px;
  height: 20px;
}
.flag-bb {
  background: url('/img/flags-98712.png') 0px -418px;
  width: 20px;
  height: 20px;
}
.flag-bd {
  background: url('/img/flags-98712.png') 0px -440px;
  width: 20px;
  height: 20px;
}
.flag-be {
  background: url('/img/flags-98712.png') 0px -462px;
  width: 20px;
  height: 20px;
}
.flag-bf {
  background: url('/img/flags-98712.png') 0px -484px;
  width: 20px;
  height: 20px;
}
.flag-bg {
  background: url('/img/flags-98712.png') 0px -506px;
  width: 20px;
  height: 20px;
}
.flag-bh {
  background: url('/img/flags-98712.png') 0px -528px;
  width: 20px;
  height: 20px;
}
.flag-bi {
  background: url('/img/flags-98712.png') 0px -550px;
  width: 20px;
  height: 20px;
}
.flag-bj {
  background: url('/img/flags-98712.png') 0px -572px;
  width: 20px;
  height: 20px;
}
.flag-bl {
  background: url('/img/flags-98712.png') 0px -594px;
  width: 20px;
  height: 20px;
}
.flag-bm {
  background: url('/img/flags-98712.png') 0px -616px;
  width: 20px;
  height: 20px;
}
.flag-bn {
  background: url('/img/flags-98712.png') 0px -638px;
  width: 20px;
  height: 20px;
}
.flag-bo {
  background: url('/img/flags-98712.png') 0px -660px;
  width: 20px;
  height: 20px;
}
.flag-br {
  background: url('/img/flags-98712.png') 0px -682px;
  width: 20px;
  height: 20px;
}
.flag-bs {
  background: url('/img/flags-98712.png') 0px -704px;
  width: 20px;
  height: 20px;
}
.flag-bt {
  background: url('/img/flags-98712.png') 0px -726px;
  width: 20px;
  height: 20px;
}
.flag-bv {
  background: url('/img/flags-98712.png') 0px -748px;
  width: 20px;
  height: 20px;
}
.flag-bw {
  background: url('/img/flags-98712.png') 0px -770px;
  width: 20px;
  height: 20px;
}
.flag-by {
  background: url('/img/flags-98712.png') 0px -792px;
  width: 20px;
  height: 20px;
}
.flag-bz {
  background: url('/img/flags-98712.png') 0px -814px;
  width: 20px;
  height: 20px;
}
.flag-ca {
  background: url('/img/flags-98712.png') 0px -836px;
  width: 20px;
  height: 20px;
}
.flag-cc {
  background: url('/img/flags-98712.png') 0px -858px;
  width: 20px;
  height: 20px;
}
.flag-cd {
  background: url('/img/flags-98712.png') 0px -880px;
  width: 20px;
  height: 20px;
}
.flag-cf {
  background: url('/img/flags-98712.png') 0px -902px;
  width: 20px;
  height: 20px;
}
.flag-cg {
  background: url('/img/flags-98712.png') 0px -924px;
  width: 20px;
  height: 20px;
}
.flag-ch {
  background: url('/img/flags-98712.png') 0px -946px;
  width: 20px;
  height: 20px;
}
.flag-ci {
  background: url('/img/flags-98712.png') 0px -968px;
  width: 20px;
  height: 20px;
}
.flag-ck {
  background: url('/img/flags-98712.png') 0px -990px;
  width: 20px;
  height: 20px;
}
.flag-cl {
  background: url('/img/flags-98712.png') 0px -1012px;
  width: 20px;
  height: 20px;
}
.flag-cm {
  background: url('/img/flags-98712.png') 0px -1034px;
  width: 20px;
  height: 20px;
}
.flag-cn {
  background: url('/img/flags-98712.png') 0px -1056px;
  width: 20px;
  height: 20px;
}
.flag-co {
  background: url('/img/flags-98712.png') 0px -1078px;
  width: 20px;
  height: 20px;
}
.flag-cr {
  background: url('/img/flags-98712.png') 0px -1100px;
  width: 20px;
  height: 20px;
}
.flag-cu {
  background: url('/img/flags-98712.png') 0px -1122px;
  width: 20px;
  height: 20px;
}
.flag-cv {
  background: url('/img/flags-98712.png') 0px -1144px;
  width: 20px;
  height: 20px;
}
.flag-cx {
  background: url('/img/flags-98712.png') 0px -1166px;
  width: 20px;
  height: 20px;
}
.flag-cy {
  background: url('/img/flags-98712.png') 0px -1188px;
  width: 20px;
  height: 20px;
}
.flag-cz {
  background: url('/img/flags-98712.png') 0px -1210px;
  width: 20px;
  height: 20px;
}
.flag-de {
  background: url('/img/flags-98712.png') 0px -1232px;
  width: 20px;
  height: 20px;
}
.flag-dj {
  background: url('/img/flags-98712.png') 0px -1254px;
  width: 20px;
  height: 20px;
}
.flag-dk {
  background: url('/img/flags-98712.png') 0px -1276px;
  width: 20px;
  height: 20px;
}
.flag-dm {
  background: url('/img/flags-98712.png') 0px -1298px;
  width: 20px;
  height: 20px;
}
.flag-do {
  background: url('/img/flags-98712.png') 0px -1320px;
  width: 20px;
  height: 20px;
}
.flag-dz {
  background: url('/img/flags-98712.png') 0px -1342px;
  width: 20px;
  height: 20px;
}
.flag-ec {
  background: url('/img/flags-98712.png') 0px -1364px;
  width: 20px;
  height: 20px;
}
.flag-ee {
  background: url('/img/flags-98712.png') 0px -1386px;
  width: 20px;
  height: 20px;
}
.flag-eg {
  background: url('/img/flags-98712.png') 0px -1408px;
  width: 20px;
  height: 20px;
}
.flag-eh {
  background: url('/img/flags-98712.png') 0px -1430px;
  width: 20px;
  height: 20px;
}
.flag-er {
  background: url('/img/flags-98712.png') 0px -1452px;
  width: 20px;
  height: 20px;
}
.flag-es {
  background: url('/img/flags-98712.png') 0px -1474px;
  width: 20px;
  height: 20px;
}
.flag-esp {
  background: url('/img/flags-98712.png') 0px -1496px;
  width: 20px;
  height: 20px;
}
.flag-et {
  background: url('/img/flags-98712.png') 0px -1518px;
  width: 20px;
  height: 20px;
}
.flag-fi {
  background: url('/img/flags-98712.png') 0px -1540px;
  width: 20px;
  height: 20px;
}
.flag-fj {
  background: url('/img/flags-98712.png') 0px -1562px;
  width: 20px;
  height: 20px;
}
.flag-fk {
  background: url('/img/flags-98712.png') 0px -1584px;
  width: 20px;
  height: 20px;
}
.flag-fm {
  background: url('/img/flags-98712.png') 0px -1606px;
  width: 20px;
  height: 20px;
}
.flag-fo {
  background: url('/img/flags-98712.png') 0px -1628px;
  width: 20px;
  height: 20px;
}
.flag-fr {
  background: url('/img/flags-98712.png') 0px -1650px;
  width: 20px;
  height: 20px;
}
.flag-ga {
  background: url('/img/flags-98712.png') 0px -1672px;
  width: 20px;
  height: 20px;
}
.flag-gb {
  background: url('/img/flags-98712.png') 0px -1694px;
  width: 20px;
  height: 20px;
}
.flag-gd {
  background: url('/img/flags-98712.png') 0px -1716px;
  width: 20px;
  height: 20px;
}
.flag-ge {
  background: url('/img/flags-98712.png') 0px -1738px;
  width: 20px;
  height: 20px;
}
.flag-gf {
  background: url('/img/flags-98712.png') 0px -1760px;
  width: 20px;
  height: 20px;
}
.flag-gg {
  background: url('/img/flags-98712.png') 0px -1782px;
  width: 20px;
  height: 20px;
}
.flag-gh {
  background: url('/img/flags-98712.png') 0px -1804px;
  width: 20px;
  height: 20px;
}
.flag-gi {
  background: url('/img/flags-98712.png') 0px -1826px;
  width: 20px;
  height: 20px;
}
.flag-gl {
  background: url('/img/flags-98712.png') 0px -1848px;
  width: 20px;
  height: 20px;
}
.flag-gm {
  background: url('/img/flags-98712.png') 0px -1870px;
  width: 20px;
  height: 20px;
}
.flag-gn {
  background: url('/img/flags-98712.png') 0px -1892px;
  width: 20px;
  height: 20px;
}
.flag-gp {
  background: url('/img/flags-98712.png') 0px -1914px;
  width: 20px;
  height: 20px;
}
.flag-gq {
  background: url('/img/flags-98712.png') 0px -1936px;
  width: 20px;
  height: 20px;
}
.flag-gr {
  background: url('/img/flags-98712.png') 0px -1958px;
  width: 20px;
  height: 20px;
}
.flag-gs {
  background: url('/img/flags-98712.png') 0px -1980px;
  width: 20px;
  height: 20px;
}
.flag-gt {
  background: url('/img/flags-98712.png') 0px -2002px;
  width: 20px;
  height: 20px;
}
.flag-gu {
  background: url('/img/flags-98712.png') 0px -2024px;
  width: 20px;
  height: 20px;
}
.flag-gw {
  background: url('/img/flags-98712.png') 0px -2046px;
  width: 20px;
  height: 20px;
}
.flag-gy {
  background: url('/img/flags-98712.png') 0px -2068px;
  width: 20px;
  height: 20px;
}
.flag-hk {
  background: url('/img/flags-98712.png') 0px -2090px;
  width: 20px;
  height: 20px;
}
.flag-hm {
  background: url('/img/flags-98712.png') 0px -2112px;
  width: 20px;
  height: 20px;
}
.flag-hn {
  background: url('/img/flags-98712.png') 0px -2134px;
  width: 20px;
  height: 20px;
}
.flag-hr {
  background: url('/img/flags-98712.png') 0px -2156px;
  width: 20px;
  height: 20px;
}
.flag-ht {
  background: url('/img/flags-98712.png') 0px -2178px;
  width: 20px;
  height: 20px;
}
.flag-hu {
  background: url('/img/flags-98712.png') 0px -2200px;
  width: 20px;
  height: 20px;
}
.flag-id {
  background: url('/img/flags-98712.png') 0px -2222px;
  width: 20px;
  height: 20px;
}
.flag-ie {
  background: url('/img/flags-98712.png') 0px -2244px;
  width: 20px;
  height: 20px;
}
.flag-il {
  background: url('/img/flags-98712.png') 0px -2266px;
  width: 20px;
  height: 20px;
}
.flag-im {
  background: url('/img/flags-98712.png') 0px -2288px;
  width: 20px;
  height: 20px;
}
.flag-in {
  background: url('/img/flags-98712.png') 0px -2310px;
  width: 20px;
  height: 20px;
}
.flag-io {
  background: url('/img/flags-98712.png') 0px -2332px;
  width: 20px;
  height: 20px;
}
.flag-iq {
  background: url('/img/flags-98712.png') 0px -2354px;
  width: 20px;
  height: 20px;
}
.flag-ir {
  background: url('/img/flags-98712.png') 0px -2376px;
  width: 20px;
  height: 20px;
}
.flag-is {
  background: url('/img/flags-98712.png') 0px -2398px;
  width: 20px;
  height: 20px;
}
.flag-it {
  background: url('/img/flags-98712.png') 0px -2420px;
  width: 20px;
  height: 20px;
}
.flag-je {
  background: url('/img/flags-98712.png') 0px -2442px;
  width: 20px;
  height: 20px;
}
.flag-jm {
  background: url('/img/flags-98712.png') 0px -2464px;
  width: 20px;
  height: 20px;
}
.flag-jo {
  background: url('/img/flags-98712.png') 0px -2486px;
  width: 20px;
  height: 20px;
}
.flag-jp {
  background: url('/img/flags-98712.png') 0px -2508px;
  width: 20px;
  height: 20px;
}
.flag-ke {
  background: url('/img/flags-98712.png') 0px -2530px;
  width: 20px;
  height: 20px;
}
.flag-kg {
  background: url('/img/flags-98712.png') 0px -2552px;
  width: 20px;
  height: 20px;
}
.flag-kh {
  background: url('/img/flags-98712.png') 0px -2574px;
  width: 20px;
  height: 20px;
}
.flag-ki {
  background: url('/img/flags-98712.png') 0px -2596px;
  width: 20px;
  height: 20px;
}
.flag-km {
  background: url('/img/flags-98712.png') 0px -2618px;
  width: 20px;
  height: 20px;
}
.flag-kn {
  background: url('/img/flags-98712.png') 0px -2640px;
  width: 20px;
  height: 20px;
}
.flag-kp {
  background: url('/img/flags-98712.png') 0px -2662px;
  width: 20px;
  height: 20px;
}
.flag-kr {
  background: url('/img/flags-98712.png') 0px -2684px;
  width: 20px;
  height: 20px;
}
.flag-kw {
  background: url('/img/flags-98712.png') 0px -2706px;
  width: 20px;
  height: 20px;
}
.flag-ky {
  background: url('/img/flags-98712.png') 0px -2728px;
  width: 20px;
  height: 20px;
}
.flag-kz {
  background: url('/img/flags-98712.png') 0px -2750px;
  width: 20px;
  height: 20px;
}
.flag-la {
  background: url('/img/flags-98712.png') 0px -2772px;
  width: 20px;
  height: 20px;
}
.flag-lb {
  background: url('/img/flags-98712.png') 0px -2794px;
  width: 20px;
  height: 20px;
}
.flag-lc {
  background: url('/img/flags-98712.png') 0px -2816px;
  width: 20px;
  height: 20px;
}
.flag-li {
  background: url('/img/flags-98712.png') 0px -2838px;
  width: 20px;
  height: 20px;
}
.flag-lk {
  background: url('/img/flags-98712.png') 0px -2860px;
  width: 20px;
  height: 20px;
}
.flag-lr {
  background: url('/img/flags-98712.png') 0px -2882px;
  width: 20px;
  height: 20px;
}
.flag-ls {
  background: url('/img/flags-98712.png') 0px -2904px;
  width: 20px;
  height: 20px;
}
.flag-lt {
  background: url('/img/flags-98712.png') 0px -2926px;
  width: 20px;
  height: 20px;
}
.flag-lu {
  background: url('/img/flags-98712.png') 0px -2948px;
  width: 20px;
  height: 20px;
}
.flag-lv {
  background: url('/img/flags-98712.png') 0px -2970px;
  width: 20px;
  height: 20px;
}
.flag-ly {
  background: url('/img/flags-98712.png') 0px -2992px;
  width: 20px;
  height: 20px;
}
.flag-ma {
  background: url('/img/flags-98712.png') 0px -3014px;
  width: 20px;
  height: 20px;
}
.flag-mc {
  background: url('/img/flags-98712.png') 0px -3036px;
  width: 20px;
  height: 20px;
}
.flag-md {
  background: url('/img/flags-98712.png') 0px -3058px;
  width: 20px;
  height: 20px;
}
.flag-me {
  background: url('/img/flags-98712.png') 0px -3080px;
  width: 20px;
  height: 20px;
}
.flag-mf {
  background: url('/img/flags-98712.png') 0px -3102px;
  width: 20px;
  height: 20px;
}
.flag-mg {
  background: url('/img/flags-98712.png') 0px -3124px;
  width: 20px;
  height: 20px;
}
.flag-mh {
  background: url('/img/flags-98712.png') 0px -3146px;
  width: 20px;
  height: 20px;
}
.flag-mk {
  background: url('/img/flags-98712.png') 0px -3168px;
  width: 20px;
  height: 20px;
}
.flag-ml {
  background: url('/img/flags-98712.png') 0px -3190px;
  width: 20px;
  height: 20px;
}
.flag-mm {
  background: url('/img/flags-98712.png') 0px -3212px;
  width: 20px;
  height: 20px;
}
.flag-mn {
  background: url('/img/flags-98712.png') 0px -3234px;
  width: 20px;
  height: 20px;
}
.flag-mo {
  background: url('/img/flags-98712.png') 0px -3256px;
  width: 20px;
  height: 20px;
}
.flag-mp {
  background: url('/img/flags-98712.png') 0px -3278px;
  width: 20px;
  height: 20px;
}
.flag-mq {
  background: url('/img/flags-98712.png') 0px -3300px;
  width: 20px;
  height: 20px;
}
.flag-mr {
  background: url('/img/flags-98712.png') 0px -3322px;
  width: 20px;
  height: 20px;
}
.flag-ms {
  background: url('/img/flags-98712.png') 0px -3344px;
  width: 20px;
  height: 20px;
}
.flag-mt {
  background: url('/img/flags-98712.png') 0px -3366px;
  width: 20px;
  height: 20px;
}
.flag-mu {
  background: url('/img/flags-98712.png') 0px -3388px;
  width: 20px;
  height: 20px;
}
.flag-mv {
  background: url('/img/flags-98712.png') 0px -3410px;
  width: 20px;
  height: 20px;
}
.flag-mw {
  background: url('/img/flags-98712.png') 0px -3432px;
  width: 20px;
  height: 20px;
}
.flag-mx {
  background: url('/img/flags-98712.png') 0px -3454px;
  width: 20px;
  height: 20px;
}
.flag-my {
  background: url('/img/flags-98712.png') 0px -3476px;
  width: 20px;
  height: 20px;
}
.flag-mz {
  background: url('/img/flags-98712.png') 0px -3498px;
  width: 20px;
  height: 20px;
}
.flag-na {
  background: url('/img/flags-98712.png') 0px -3520px;
  width: 20px;
  height: 20px;
}
.flag-nc {
  background: url('/img/flags-98712.png') 0px -3542px;
  width: 20px;
  height: 20px;
}
.flag-ne {
  background: url('/img/flags-98712.png') 0px -3564px;
  width: 20px;
  height: 20px;
}
.flag-nf {
  background: url('/img/flags-98712.png') 0px -3586px;
  width: 20px;
  height: 20px;
}
.flag-ng {
  background: url('/img/flags-98712.png') 0px -3608px;
  width: 20px;
  height: 20px;
}
.flag-ni {
  background: url('/img/flags-98712.png') 0px -3630px;
  width: 20px;
  height: 20px;
}
.flag-nl {
  background: url('/img/flags-98712.png') 0px -3652px;
  width: 20px;
  height: 20px;
}
.flag-no {
  background: url('/img/flags-98712.png') 0px -3674px;
  width: 20px;
  height: 20px;
}
.flag-np {
  background: url('/img/flags-98712.png') 0px -3696px;
  width: 20px;
  height: 20px;
}
.flag-nr {
  background: url('/img/flags-98712.png') 0px -3718px;
  width: 20px;
  height: 20px;
}
.flag-nu {
  background: url('/img/flags-98712.png') 0px -3740px;
  width: 20px;
  height: 20px;
}
.flag-nz {
  background: url('/img/flags-98712.png') 0px -3762px;
  width: 20px;
  height: 20px;
}
.flag-om {
  background: url('/img/flags-98712.png') 0px -3784px;
  width: 20px;
  height: 20px;
}
.flag-pa {
  background: url('/img/flags-98712.png') 0px -3806px;
  width: 20px;
  height: 20px;
}
.flag-pe {
  background: url('/img/flags-98712.png') 0px -3828px;
  width: 20px;
  height: 20px;
}
.flag-pf {
  background: url('/img/flags-98712.png') 0px -3850px;
  width: 20px;
  height: 20px;
}
.flag-pg {
  background: url('/img/flags-98712.png') 0px -3872px;
  width: 20px;
  height: 20px;
}
.flag-ph {
  background: url('/img/flags-98712.png') 0px -3894px;
  width: 20px;
  height: 20px;
}
.flag-pk {
  background: url('/img/flags-98712.png') 0px -3916px;
  width: 20px;
  height: 20px;
}
.flag-pl {
  background: url('/img/flags-98712.png') 0px -3938px;
  width: 20px;
  height: 20px;
}
.flag-pm {
  background: url('/img/flags-98712.png') 0px -3960px;
  width: 20px;
  height: 20px;
}
.flag-pn {
  background: url('/img/flags-98712.png') 0px -3982px;
  width: 20px;
  height: 20px;
}
.flag-pr {
  background: url('/img/flags-98712.png') 0px -4004px;
  width: 20px;
  height: 20px;
}
.flag-ps {
  background: url('/img/flags-98712.png') 0px -4026px;
  width: 20px;
  height: 20px;
}
.flag-pt {
  background: url('/img/flags-98712.png') 0px -4048px;
  width: 20px;
  height: 20px;
}
.flag-pw {
  background: url('/img/flags-98712.png') 0px -4070px;
  width: 20px;
  height: 20px;
}
.flag-py {
  background: url('/img/flags-98712.png') 0px -4092px;
  width: 20px;
  height: 20px;
}
.flag-qa {
  background: url('/img/flags-98712.png') 0px -4114px;
  width: 20px;
  height: 20px;
}
.flag-re {
  background: url('/img/flags-98712.png') 0px -4136px;
  width: 20px;
  height: 20px;
}
.flag-ro {
  background: url('/img/flags-98712.png') 0px -4158px;
  width: 20px;
  height: 20px;
}
.flag-rs {
  background: url('/img/flags-98712.png') 0px -4180px;
  width: 20px;
  height: 20px;
}
.flag-ru {
  background: url('/img/flags-98712.png') 0px -4202px;
  width: 20px;
  height: 20px;
}
.flag-rw {
  background: url('/img/flags-98712.png') 0px -4224px;
  width: 20px;
  height: 20px;
}
.flag-sa {
  background: url('/img/flags-98712.png') 0px -4246px;
  width: 20px;
  height: 20px;
}
.flag-sb {
  background: url('/img/flags-98712.png') 0px -4268px;
  width: 20px;
  height: 20px;
}
.flag-sc {
  background: url('/img/flags-98712.png') 0px -4290px;
  width: 20px;
  height: 20px;
}
.flag-sd {
  background: url('/img/flags-98712.png') 0px -4312px;
  width: 20px;
  height: 20px;
}
.flag-se {
  background: url('/img/flags-98712.png') 0px -4334px;
  width: 20px;
  height: 20px;
}
.flag-sg {
  background: url('/img/flags-98712.png') 0px -4356px;
  width: 20px;
  height: 20px;
}
.flag-sh {
  background: url('/img/flags-98712.png') 0px -4378px;
  width: 20px;
  height: 20px;
}
.flag-si {
  background: url('/img/flags-98712.png') 0px -4400px;
  width: 20px;
  height: 20px;
}
.flag-sj {
  background: url('/img/flags-98712.png') 0px -4422px;
  width: 20px;
  height: 20px;
}
.flag-sk {
  background: url('/img/flags-98712.png') 0px -4444px;
  width: 20px;
  height: 20px;
}
.flag-sl {
  background: url('/img/flags-98712.png') 0px -4466px;
  width: 20px;
  height: 20px;
}
.flag-sm {
  background: url('/img/flags-98712.png') 0px -4488px;
  width: 20px;
  height: 20px;
}
.flag-sn {
  background: url('/img/flags-98712.png') 0px -4510px;
  width: 20px;
  height: 20px;
}
.flag-so {
  background: url('/img/flags-98712.png') 0px -4532px;
  width: 20px;
  height: 20px;
}
.flag-sr {
  background: url('/img/flags-98712.png') 0px -4554px;
  width: 20px;
  height: 20px;
}
.flag-st {
  background: url('/img/flags-98712.png') 0px -4576px;
  width: 20px;
  height: 20px;
}
.flag-sv {
  background: url('/img/flags-98712.png') 0px -4598px;
  width: 20px;
  height: 20px;
}
.flag-sy {
  background: url('/img/flags-98712.png') 0px -4620px;
  width: 20px;
  height: 20px;
}
.flag-sz {
  background: url('/img/flags-98712.png') 0px -4642px;
  width: 20px;
  height: 20px;
}
.flag-tc {
  background: url('/img/flags-98712.png') 0px -4664px;
  width: 20px;
  height: 20px;
}
.flag-td {
  background: url('/img/flags-98712.png') 0px -4686px;
  width: 20px;
  height: 20px;
}
.flag-tf {
  background: url('/img/flags-98712.png') 0px -4708px;
  width: 20px;
  height: 20px;
}
.flag-tg {
  background: url('/img/flags-98712.png') 0px -4730px;
  width: 20px;
  height: 20px;
}
.flag-th {
  background: url('/img/flags-98712.png') 0px -4752px;
  width: 20px;
  height: 20px;
}
.flag-tj {
  background: url('/img/flags-98712.png') 0px -4774px;
  width: 20px;
  height: 20px;
}
.flag-tk {
  background: url('/img/flags-98712.png') 0px -4796px;
  width: 20px;
  height: 20px;
}
.flag-tl {
  background: url('/img/flags-98712.png') 0px -4818px;
  width: 20px;
  height: 20px;
}
.flag-tm {
  background: url('/img/flags-98712.png') 0px -4840px;
  width: 20px;
  height: 20px;
}
.flag-tn {
  background: url('/img/flags-98712.png') 0px -4862px;
  width: 20px;
  height: 20px;
}
.flag-to {
  background: url('/img/flags-98712.png') 0px -4884px;
  width: 20px;
  height: 20px;
}
.flag-tr {
  background: url('/img/flags-98712.png') 0px -4906px;
  width: 20px;
  height: 20px;
}
.flag-tt {
  background: url('/img/flags-98712.png') 0px -4928px;
  width: 20px;
  height: 20px;
}
.flag-tv {
  background: url('/img/flags-98712.png') 0px -4950px;
  width: 20px;
  height: 20px;
}
.flag-tw {
  background: url('/img/flags-98712.png') 0px -4972px;
  width: 20px;
  height: 20px;
}
.flag-tz {
  background: url('/img/flags-98712.png') 0px -4994px;
  width: 20px;
  height: 20px;
}
.flag-ua {
  background: url('/img/flags-98712.png') 0px -5016px;
  width: 20px;
  height: 20px;
}
.flag-ug {
  background: url('/img/flags-98712.png') 0px -5038px;
  width: 20px;
  height: 20px;
}
.flag-um {
  background: url('/img/flags-98712.png') 0px -5060px;
  width: 20px;
  height: 20px;
}
.flag-us {
  background: url('/img/flags-98712.png') 0px -5082px;
  width: 20px;
  height: 20px;
}
.flag-uy {
  background: url('/img/flags-98712.png') 0px -5104px;
  width: 20px;
  height: 20px;
}
.flag-uz {
  background: url('/img/flags-98712.png') 0px -5126px;
  width: 20px;
  height: 20px;
}
.flag-va {
  background: url('/img/flags-98712.png') 0px -5148px;
  width: 20px;
  height: 20px;
}
.flag-vc {
  background: url('/img/flags-98712.png') 0px -5170px;
  width: 20px;
  height: 20px;
}
.flag-ve {
  background: url('/img/flags-98712.png') 0px -5192px;
  width: 20px;
  height: 20px;
}
.flag-vg {
  background: url('/img/flags-98712.png') 0px -5214px;
  width: 20px;
  height: 20px;
}
.flag-vi {
  background: url('/img/flags-98712.png') 0px -5236px;
  width: 20px;
  height: 20px;
}
.flag-vn {
  background: url('/img/flags-98712.png') 0px -5258px;
  width: 20px;
  height: 20px;
}
.flag-vu {
  background: url('/img/flags-98712.png') 0px -5280px;
  width: 20px;
  height: 20px;
}
.flag-wf {
  background: url('/img/flags-98712.png') 0px -5302px;
  width: 20px;
  height: 20px;
}
.flag-ws {
  background: url('/img/flags-98712.png') 0px -5324px;
  width: 20px;
  height: 20px;
}
.flag-ye {
  background: url('/img/flags-98712.png') 0px -5346px;
  width: 20px;
  height: 20px;
}
.flag-za {
  background: url('/img/flags-98712.png') 0px -5368px;
  width: 20px;
  height: 20px;
}
.flag-zm {
  background: url('/img/flags-98712.png') 0px -5390px;
  width: 20px;
  height: 20px;
}
.flag-zw {
  background: url('/img/flags-98712.png') 0px -5412px;
  width: 20px;
  height: 20px;
}
