.flag-ad
	sprite flags flag-ad
.flag-ae
	sprite flags flag-ae
.flag-af
	sprite flags flag-af
.flag-ag
	sprite flags flag-ag
.flag-ai
	sprite flags flag-ai
.flag-al
	sprite flags flag-al
.flag-am
	sprite flags flag-am
.flag-an
	sprite flags flag-an
.flag-ao
	sprite flags flag-ao
.flag-aq
	sprite flags flag-aq
.flag-ar
	sprite flags flag-ar
.flag-ara
	sprite flags flag-ara
.flag-as
	sprite flags flag-as
.flag-at
	sprite flags flag-at
.flag-au
	sprite flags flag-au
.flag-aw
	sprite flags flag-aw
.flag-ax
	sprite flags flag-ax
.flag-az
	sprite flags flag-az
.flag-ba
	sprite flags flag-ba
.flag-bb
	sprite flags flag-bb
.flag-bd
	sprite flags flag-bd
.flag-be
	sprite flags flag-be
.flag-bf
	sprite flags flag-bf
.flag-bg
	sprite flags flag-bg
.flag-bh
	sprite flags flag-bh
.flag-bi
	sprite flags flag-bi
.flag-bj
	sprite flags flag-bj
.flag-bl
	sprite flags flag-bl
.flag-bm
	sprite flags flag-bm
.flag-bn
	sprite flags flag-bn
.flag-bo
	sprite flags flag-bo
.flag-br
	sprite flags flag-br
.flag-bs
	sprite flags flag-bs
.flag-bt
	sprite flags flag-bt
.flag-bv
	sprite flags flag-bv
.flag-bw
	sprite flags flag-bw
.flag-by
	sprite flags flag-by
.flag-bz
	sprite flags flag-bz
.flag-ca
	sprite flags flag-ca
.flag-cc
	sprite flags flag-cc
.flag-cd
	sprite flags flag-cd
.flag-cf
	sprite flags flag-cf
.flag-cg
	sprite flags flag-cg
.flag-ch
	sprite flags flag-ch
.flag-ci
	sprite flags flag-ci
.flag-ck
	sprite flags flag-ck
.flag-cl
	sprite flags flag-cl
.flag-cm
	sprite flags flag-cm
.flag-cn
	sprite flags flag-cn
.flag-co
	sprite flags flag-co
.flag-cr
	sprite flags flag-cr
.flag-cu
	sprite flags flag-cu
.flag-cv
	sprite flags flag-cv
.flag-cx
	sprite flags flag-cx
.flag-cy
	sprite flags flag-cy
.flag-cz
	sprite flags flag-cz
.flag-de
	sprite flags flag-de
.flag-dj
	sprite flags flag-dj
.flag-dk
	sprite flags flag-dk
.flag-dm
	sprite flags flag-dm
.flag-do
	sprite flags flag-do
.flag-dz
	sprite flags flag-dz
.flag-ec
	sprite flags flag-ec
.flag-ee
	sprite flags flag-ee
.flag-eg
	sprite flags flag-eg
.flag-eh
	sprite flags flag-eh
.flag-er
	sprite flags flag-er
.flag-es
	sprite flags flag-es
.flag-esp
	sprite flags flag-esp
.flag-et
	sprite flags flag-et
.flag-fi
	sprite flags flag-fi
.flag-fj
	sprite flags flag-fj
.flag-fk
	sprite flags flag-fk
.flag-fm
	sprite flags flag-fm
.flag-fo
	sprite flags flag-fo
.flag-fr
	sprite flags flag-fr
.flag-ga
	sprite flags flag-ga
.flag-gb
	sprite flags flag-gb
.flag-gd
	sprite flags flag-gd
.flag-ge
	sprite flags flag-ge
.flag-gf
	sprite flags flag-gf
.flag-gg
	sprite flags flag-gg
.flag-gh
	sprite flags flag-gh
.flag-gi
	sprite flags flag-gi
.flag-gl
	sprite flags flag-gl
.flag-gm
	sprite flags flag-gm
.flag-gn
	sprite flags flag-gn
.flag-gp
	sprite flags flag-gp
.flag-gq
	sprite flags flag-gq
.flag-gr
	sprite flags flag-gr
.flag-gs
	sprite flags flag-gs
.flag-gt
	sprite flags flag-gt
.flag-gu
	sprite flags flag-gu
.flag-gw
	sprite flags flag-gw
.flag-gy
	sprite flags flag-gy
.flag-hk
	sprite flags flag-hk
.flag-hm
	sprite flags flag-hm
.flag-hn
	sprite flags flag-hn
.flag-hr
	sprite flags flag-hr
.flag-ht
	sprite flags flag-ht
.flag-hu
	sprite flags flag-hu
.flag-id
	sprite flags flag-id
.flag-ie
	sprite flags flag-ie
.flag-il
	sprite flags flag-il
.flag-im
	sprite flags flag-im
.flag-in
	sprite flags flag-in
.flag-io
	sprite flags flag-io
.flag-iq
	sprite flags flag-iq
.flag-ir
	sprite flags flag-ir
.flag-is
	sprite flags flag-is
.flag-it
	sprite flags flag-it
.flag-je
	sprite flags flag-je
.flag-jm
	sprite flags flag-jm
.flag-jo
	sprite flags flag-jo
.flag-jp
	sprite flags flag-jp
.flag-ke
	sprite flags flag-ke
.flag-kg
	sprite flags flag-kg
.flag-kh
	sprite flags flag-kh
.flag-ki
	sprite flags flag-ki
.flag-km
	sprite flags flag-km
.flag-kn
	sprite flags flag-kn
.flag-kp
	sprite flags flag-kp
.flag-kr
	sprite flags flag-kr
.flag-kw
	sprite flags flag-kw
.flag-ky
	sprite flags flag-ky
.flag-kz
	sprite flags flag-kz
.flag-la
	sprite flags flag-la
.flag-lb
	sprite flags flag-lb
.flag-lc
	sprite flags flag-lc
.flag-li
	sprite flags flag-li
.flag-lk
	sprite flags flag-lk
.flag-lr
	sprite flags flag-lr
.flag-ls
	sprite flags flag-ls
.flag-lt
	sprite flags flag-lt
.flag-lu
	sprite flags flag-lu
.flag-lv
	sprite flags flag-lv
.flag-ly
	sprite flags flag-ly
.flag-ma
	sprite flags flag-ma
.flag-mc
	sprite flags flag-mc
.flag-md
	sprite flags flag-md
.flag-me
	sprite flags flag-me
.flag-mf
	sprite flags flag-mf
.flag-mg
	sprite flags flag-mg
.flag-mh
	sprite flags flag-mh
.flag-mk
	sprite flags flag-mk
.flag-ml
	sprite flags flag-ml
.flag-mm
	sprite flags flag-mm
.flag-mn
	sprite flags flag-mn
.flag-mo
	sprite flags flag-mo
.flag-mp
	sprite flags flag-mp
.flag-mq
	sprite flags flag-mq
.flag-mr
	sprite flags flag-mr
.flag-ms
	sprite flags flag-ms
.flag-mt
	sprite flags flag-mt
.flag-mu
	sprite flags flag-mu
.flag-mv
	sprite flags flag-mv
.flag-mw
	sprite flags flag-mw
.flag-mx
	sprite flags flag-mx
.flag-my
	sprite flags flag-my
.flag-mz
	sprite flags flag-mz
.flag-na
	sprite flags flag-na
.flag-nc
	sprite flags flag-nc
.flag-ne
	sprite flags flag-ne
.flag-nf
	sprite flags flag-nf
.flag-ng
	sprite flags flag-ng
.flag-ni
	sprite flags flag-ni
.flag-nl
	sprite flags flag-nl
.flag-no
	sprite flags flag-no
.flag-np
	sprite flags flag-np
.flag-nr
	sprite flags flag-nr
.flag-nu
	sprite flags flag-nu
.flag-nz
	sprite flags flag-nz
.flag-om
	sprite flags flag-om
.flag-pa
	sprite flags flag-pa
.flag-pe
	sprite flags flag-pe
.flag-pf
	sprite flags flag-pf
.flag-pg
	sprite flags flag-pg
.flag-ph
	sprite flags flag-ph
.flag-pk
	sprite flags flag-pk
.flag-pl
	sprite flags flag-pl
.flag-pm
	sprite flags flag-pm
.flag-pn
	sprite flags flag-pn
.flag-pr
	sprite flags flag-pr
.flag-ps
	sprite flags flag-ps
.flag-pt
	sprite flags flag-pt
.flag-pw
	sprite flags flag-pw
.flag-py
	sprite flags flag-py
.flag-qa
	sprite flags flag-qa
.flag-re
	sprite flags flag-re
.flag-ro
	sprite flags flag-ro
.flag-rs
	sprite flags flag-rs
.flag-ru
	sprite flags flag-ru
.flag-rw
	sprite flags flag-rw
.flag-sa
	sprite flags flag-sa
.flag-sb
	sprite flags flag-sb
.flag-sc
	sprite flags flag-sc
.flag-sd
	sprite flags flag-sd
.flag-se
	sprite flags flag-se
.flag-sg
	sprite flags flag-sg
.flag-sh
	sprite flags flag-sh
.flag-si
	sprite flags flag-si
.flag-sj
	sprite flags flag-sj
.flag-sk
	sprite flags flag-sk
.flag-sl
	sprite flags flag-sl
.flag-sm
	sprite flags flag-sm
.flag-sn
	sprite flags flag-sn
.flag-so
	sprite flags flag-so
.flag-sr
	sprite flags flag-sr
.flag-st
	sprite flags flag-st
.flag-sv
	sprite flags flag-sv
.flag-sy
	sprite flags flag-sy
.flag-sz
	sprite flags flag-sz
.flag-tc
	sprite flags flag-tc
.flag-td
	sprite flags flag-td
.flag-tf
	sprite flags flag-tf
.flag-tg
	sprite flags flag-tg
.flag-th
	sprite flags flag-th
.flag-tj
	sprite flags flag-tj
.flag-tk
	sprite flags flag-tk
.flag-tl
	sprite flags flag-tl
.flag-tm
	sprite flags flag-tm
.flag-tn
	sprite flags flag-tn
.flag-to
	sprite flags flag-to
.flag-tr
	sprite flags flag-tr
.flag-tt
	sprite flags flag-tt
.flag-tv
	sprite flags flag-tv
.flag-tw
	sprite flags flag-tw
.flag-tz
	sprite flags flag-tz
.flag-ua
	sprite flags flag-ua
.flag-ug
	sprite flags flag-ug
.flag-um
	sprite flags flag-um
.flag-us
	sprite flags flag-us
.flag-uy
	sprite flags flag-uy
.flag-uz
	sprite flags flag-uz
.flag-va
	sprite flags flag-va
.flag-vc
	sprite flags flag-vc
.flag-ve
	sprite flags flag-ve
.flag-vg
	sprite flags flag-vg
.flag-vi
	sprite flags flag-vi
.flag-vn
	sprite flags flag-vn
.flag-vu
	sprite flags flag-vu
.flag-wf
	sprite flags flag-wf
.flag-ws
	sprite flags flag-ws
.flag-ye
	sprite flags flag-ye
.flag-za
	sprite flags flag-za
.flag-zm
	sprite flags flag-zm
.flag-zw
	sprite flags flag-zw