body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.dropdown-menu:before {
    content:normal;
}

.dropdown-menu a {
    white-space: normal;
}

/* languageDropdown */
.img-flag {
	float: left;
	margin-right: 4px;
}

.languageDropdown.error a {
	border-color: #b94a48;
}

/* sentenceEditor */

.word {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 4px 2px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.word:hover, .word:focus {
	background-color: #f5f5f5;
}

.word.ready { 
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.word.ui-selected, .word.ui-selecting { 
	border-color: #3a87ad;
	border-width: 2px;
}

.sentenceEditor {
	position: relative;
	margin: 15px 0;
	padding: 19px;
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.close.reset {
	position: absolute;
	top: 3px;
	left: 7px;
}

.close.cancel {
	position: absolute;
	top: 3px;
	right: 7px;
}

.sentenceEditor .merge,
.sentenceEditor .split {
	margin-left: 3px;
}       

.sentenceEditor .details {
	margin-top: 10px;
}       
                           
.sentenceEditor .wordEditor {
	margin-left: 8px;
}

.sentenceEditor .baseForm {
	margin-top: 15px;
	margin-left: 3px;
}

/* wordEditor */

.letter {
	display: inline-block;
	padding: 1px 2px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.letter.ui-selected, .letter.ui-selecting {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.wordEditor .submit {
	color: #468847;
}


